{{#get "posts" limit="5" filter="page:false" include="tags" order="updated_at desc"}}
<div id="flapper-menu">
  <div class="flapper-container">
    <ul id="projects-dropdown">
      <div class="dropdown wf-loading">
        <li><span>
            <h4>Frank Taylor</h4>
            <p>Projects</p></span></li>{{#foreach posts}}
        <li class="project"><a href="{{{url}}}" class="project-link box-link post-link">{{title}}</a></li>{{/foreach}}
      </div>
    </ul>
    <ul>
      <div class="dropdown wf-loading">
        <li><span>
            <h4>Frank Taylor</h4>
            <p>Resume</p></span></li>
        <li class="project"><a href="https://s3-us-west-1.amazonaws.com/frank-io/CV_FrankTaylor.pdf" target="_blank">View PDF</a></li>
        <li class="project"><a href="https://s3-us-west-1.amazonaws.com/frank-io/CV_FrankTaylor.pdf">Print</a></li>
      </div>
    </ul>
  </div>
</div>
<div class="box-container is-visible">
  {{#foreach posts}}{{#if featured}}
      <a href='{{{url}}}' class="box box-link">
          <div class="background-image" style="background-image: url({{image absolute="true"}})"></div>
          <h2 class="box-title">{{title}}</h2>
          <p class="box-desc">{{meta_description}}</p>
          <div class="thumbnail-buttons">
              <button data-navigate='{{{url}}}' class="post-button">View Project</button>
              <button data-navigate='{{{url}}}' class="gallery-button">View Gallery</button>
          </div>
      </a>
  {{else}}
  <a href='{{{url}}}' class="box box-link">
      <h2 class="box-title">{{title}}</h2>
      <p class="box-desc">{{meta_description}}</p>
      <div class="thumbnail-buttons">
          <button data-navigate='{{{url}}}' class="black post-button">View Project</button>
      </div>
  </a>
  {{/if}}{{/foreach}}
</div>{{/get}}