
<nav>
  <div class="nav" {{#if @blog.cover}}style="background-image:url({{@blog.cover}})"{{/if}}></div>
  {{#if @blog.logo}}<a class="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Logo" /></a>{{/if}}
  <h3 class="nav-title"><a href="#" class="nav-close"><span class="hidden"></span></a></h3>
  <h1 class="blog-title">{{@blog.title}}</h1>
  <ul>{{#foreach navigation}}<li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>{{/foreach}}
    <li role="presentation">Projects</li>
    <li role="presentation">Resume</li>
    <li role="presentation">Find Me</li>
    <li role="presentation">Blog
      <div class="filterMenu">
        <br>
        <div id="all"><a href="#">View All</a></div>
        {{#foreach posts}}
          {{#if tags}}<div class="tags">{{tags}}</div>{{/if}}
        {{/foreach}}
        
      </div>
      <div class="menu-icon">
        <svg width="40px" height="40px" viewBox="144 335 75 75" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg">
          <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
          <desc>Filter Icon</desc>
          <defs></defs>
          <path d="M163.574,377.75 L149.25,377.75 C146.324,377.75 144,375.426 144,372.5 L144,358.102 C144,355.176 146.324,352.852 149.25,352.852 L163.574,352.852 C166.5,352.852 168.824,355.176 168.824,358.102 L168.824,372.426 C168.824,375.352 166.5,377.75 163.574,377.75 Z M149.25,356.602 C148.426,356.602 147.75,357.278 147.75,358.102 L147.75,372.426 C147.75,373.25 148.426,373.926 149.25,373.926 L163.574,373.926 C164.399,373.926 165.074,373.25 165.074,372.426 L165.074,358.102 C165.074,357.278 164.399,356.602 163.574,356.602 L149.25,356.602 Z M196.801,377.75 L182.403,377.75 C179.477,377.75 177.153,375.426 177.153,372.5 L177.153,358.102 C177.153,355.176 179.477,352.852 182.403,352.852 L196.801,352.852 C199.727,352.852 202.051,355.176 202.051,358.102 L202.051,372.426 C202.051,375.352 199.653,377.75 196.801,377.75 Z M182.403,356.602 C181.578,356.602 180.903,357.278 180.903,358.102 L180.903,372.426 C180.903,373.25 181.578,373.926 182.403,373.926 L196.801,373.926 C197.625,373.926 198.301,373.25 198.301,372.426 L198.301,358.102 C198.301,357.278 197.625,356.602 196.801,356.602 L182.403,356.602 Z M163.653,410 L149.324,410 C146.399,410 144.074,407.676 144.074,404.75 L144.074,390.426 C144.074,387.5 146.399,385.176 149.324,385.176 L163.649,385.176 C166.574,385.176 168.899,387.5 168.899,390.426 L168.899,404.75 C168.903,407.676 166.574,410 163.653,410 Z M149.324,388.926 C148.5,388.926 147.824,389.602 147.824,390.426 L147.824,404.75 C147.824,405.575 148.5,406.25 149.324,406.25 L163.649,406.25 C164.473,406.25 165.149,405.575 165.149,404.75 L165.149,390.426 C165.149,389.602 164.473,388.926 163.649,388.926 L149.324,388.926 Z M196.875,410 L182.551,410 C179.625,410 177.301,407.676 177.301,404.75 L177.301,390.426 C177.301,387.5 179.625,385.176 182.551,385.176 L196.875,385.176 C199.801,385.176 202.125,387.5 202.125,390.426 L202.125,404.75 C202.125,407.676 199.727,410 196.875,410 Z M182.551,388.926 C181.727,388.926 181.051,389.602 181.051,390.426 L181.051,404.75 C181.051,405.575 181.727,406.25 182.551,406.25 L196.875,406.25 C197.699,406.25 198.375,405.575 198.375,404.75 L198.375,390.426 C198.375,389.602 197.699,388.926 196.875,388.926 L182.551,388.926 Z" id="Page-1" stroke="none" fill="#AAAAAA" fill-rule="evenodd"></path>
        </svg>
      </div>
    </li>
  </ul>
</nav><span class="nav-cover"></span>