<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .box-container .box-link:nth-child(n+3) {
          background-image: none !important
      }
    </style>
    <link rel="shortcut icon" href="{{asset 'img/favicon.ico'}}">
    <link rel="stylesheet" href="{{asset 'css/main.min.css'}}">
    <script src="https://use.typekit.net/xlc5yjz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <noscript>
      <style>
        .splash-screen {display: none !important}
        .back-icon {display: none !important}
        .wf-loading {opacity: 1 !important}
        @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700|Roboto+Slab:300,400,700")
      </style>
    </noscript>{{ghost_head}}
  </head>
  <body data-visit="1" class="{{body_class}}">{{> utilities/splash}}
    <main class="index-container">
      {{> loop}}
      {{navigation}}
      {{{body}}}
      {{> footer}}
    </main>{{> menu/contact}}
    <script defer src="{{asset 'js/functions.min.js'}}"></script>
  </body>
</html>