
<div id="base-gallery" class="base-gallery"></div>
<div data-navigate="left" class="arrow-left arrow"></div>
<div data-navigate="right" class="arrow-right arrow"></div>
<section class="active-post">
  <header class="active-post-header">
      <h1 itemprop='headline'>{{title}}</h1>
      <h5 class="{{{slug}}}">{{meta_description}}</h5>
  </header>
  <article class="active-post-body {{{slug}}}">
      {{content}} 
  </article>
</section>